@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root{
    --fonte-rodape:'Silkscreen', cursive;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: auto;
    
}
body{
    background: url('/imagens/fundo-madeira.jpg')no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    

}
main{
    height: 100vh;
    position: relative;

}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background:url('../imagens/frame-iphone.png')
    no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}
iframe#tela{
    position:relative;
    top: 80px;
    left: 23px;
    width: 267px;
    height: 471px;
}
section#redes-sociais{
    text-align: right;
    
}
section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px  5px black;
    box-sizing: border-box;

}
section#redes-sociais img:hover{
    border: 4px solid rgba(22, 22, 22, 0.911);
    transform: translate(-5px -5px);
    box-shadow: 5px 5px 10px rgb(180, 233, 37);
    tranasition: transform 3s, border .2s;
}
footer {
    background-color: black;
    text-align: center;
    color: white;  
}
footer > p{
    font-family: var(--fonte-rodape);
}
a{
    font-weight: bolder;
}
p > a {
    
    color: white;
    text-decoration: none;
    font-family: var(--fonte-rodape);
    
}
footer > p > a:hover{
    color: aqua;
    font-family: var(--fonte-rodape);
    text-decoration: underline;
   
}